.btn-blue {
    background-color: #3A5AFF;
    border-radius: 5px;
    color: #fff !important;
    padding-left: 17px !important;
    padding-right: 17px !important;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
    background-color: #FFC43B;
    border-radius: 5px;
    color: #fff !important;
}

.btn-light,
.btn-light:hover,
.btn-light:active,
.btn-light:focus {
    background-color: #fff;
    border: 1px solid #979797;
    color: #979797 !important;
    padding-left: 17px !important;
    padding-right: 17px !important;
}

.btn-light:hover,
.btn-light:active,
.btn-light:focus {
    background-color: #FFC43B;
    border-radius: 5px;
    color: #fff !important;
}

.logo {
    width: 80%;
    padding-bottom: 10px;
}

.navbar-light {
    background-color: #fff !important;
}

.f-64 {
    font-size: 64px;
}

.f-20 {
    font-size: 20px;
}

.pd-right-40 {
    padding-right: 40px !important;
}

.pd-left-40 {
    padding-left: 40px !important;
}

.pd-top-10 {
    padding-top: 10px;
}

.pd-bottom-10 {
    padding-bottom: 10px;
}

.pd-top-20 {
    padding-top: 20px;
}

.pd-bottom-20 {
    padding-bottom: 20px;
}

.pd-top-30 {
    padding-top: 30px !important;
}

.pd-bottom-30 {
    padding-bottom: 30px;
}

.f-16 {
    font-size: 16px;
}

.h-100vh {
    height: calc(100vh - 77px);
}

.line-blue {
    width: 10%;
    margin: 0 auto;
    border: 2px solid #3A5AFF;
    opacity: 1;
}
.line-white {
    width: 10%;
    margin: 0 auto;
    border: 2px solid #ffffff;
    opacity: 1;
}

.link-transparent {
    color: #000;
    background: transparent;
    font-weight: bold;
    text-decoration: none;
}

.bg-grey {
    background: #F2F2F2;
}

.super-container{
    width: 100%;
}

.super-container .wrapper{
  overflow-y:hidden;
  overflow-x:scroll;
  white-space:nowrap;
  color: white;

}
::-webkit-scrollbar {
    display: none;
 }
.super-container .wrapper .slides{

  display:inline-block;
  background-size:cover;
  margin-left:15px; 
}

.slides img{
    border-radius: 35px;
}

.super-container .wrapper .slides:last-child{
  margin-right: 15px;
}

.classroom{
    background-color: #FFC43B;
}
.img-classroom{
   margin: auto;
}

.btn-classroom button{
    border-radius: 46px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    color: #979797;
}

.text-classroom {
    color: #979797;
}

.work{
    width: 100%;
}

.work-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #2F281E;

}
.work-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: #544837;
}

.mt-10{
    margin-top: 10px;
}
.customer{
   width: 100%;
   margin-top: 45px;
}
.bg-blue{
    background-color: #3A5AFF;
}
.title-customer{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #ffffff;
    padding-top: 70px;
}
